body{
    background-color: rgb(red, green, blue);
}
h1{
    background-color: cornsilk;
    font-size: 55px;
    color: aqua;
    letter-spacing: 12px;
    word-spacing: 20px;
    text-align: center;
    font-variant: small-caps;
}

p{
    font-size: 20PX;
    text-align: center;
    font-weight: 350;
    word-spacing: 8PX;
    text-decoration: overline;
}

h2{
    /* border: 2px black ridge; */
    border-top: 5x green ridge;
    border-right: 5px darkgreen ridge;
    bottom: 5px black dotted;
    border-left: 5px greenyellow dotted;

    /* padding: ; */
    /* padding: 50px; */
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;

    /* margin */
    /* margin: 70px; */
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

a:hover{
    background-color: blueviolet;
    color: aqua;
    text-decoration: underline;
}